input, select, button {
    margin-bottom: 10px;
}

#serving {
    margin-bottom: 0px;
}

h3 {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 5px 10px 5px 10px;
}