body, div.container {
    background-color: rgb(249, 242, 242);
}

input, select, button {
    margin-bottom: 10px;
}

#serving {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    input[name="quantity"] {
        margin-top: 10px;
    }
}

.font-small {
    font-size: 12px;
}

/* .select2-search {
    background-color: #00f !important;
} */

/* .select2-search input {
    color: #ffa914 !important;
    background-color: #ff12d0 !important;
} */

/* css for highlighted option */
/* .select2-results__option.select2-results__option--selectable.select2-results__option--highlighted {
    background-color: #ed2828 !important;
} */

.select2-selection__rendered {
    line-height: 37.33px !important;
    margin-bottom: 10px;
}
.select2-container .select2-selection--single {
    height: 37.33px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

hr {
    color: red;
}

h3 {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 180px;
    min-height: 180px;
    padding: 5px 10px 5px 10px;
}

#detailDescription {
    white-space: pre-line;
}

#mealsTable {
    width: 100% !important;
}

#mealsTable th:nth-child(3), #mealsTable td:nth-child(3),
#mealsTable th:nth-child(4), #mealsTable td:nth-child(4){
    text-align: center;
}